body{
    background-color: #eeedec;
}
.heading{
    text-align: center;
    color: #7E7474;
    font-size: 3.5rem;
}
.location{
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    font-size: 16px;
    padding-left: 15px;
}
.input-box{
    width: 24.5rem;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px #888888;
}
.card{
    background-color: #fff;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
}
.time{
height: 400px;
}
.d-none{
    display: none;
}
.icon{
    position: relative;
    bottom: 50px;
    background: floralwhite;
    border-radius: 50%;
    margin-bottom: -50px;
}
h2{
    font-size: 30px;
    color: #7E7474;
}
.card:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 4px 4px 30px #888888;
}
.weather{
    font-size: 20px;
    color: #7E7474;
    margin: -10px auto 20px auto;
}
.temp{
    font-size: 50px;
    color: #7E7474;
    padding-bottom: 20px;
}